/* ------------- SPLASH MOBIL ---------------*/
.splash {
  margin-top: 0 auto;
  max-width: 100%;
  display: block;
}
.splashimg {
  margin-block-start: 92px;
  display: grid;
  width: 100%;
}
.splashbtn {
  background-color: #7b806a;
  border: 3px solid #4c483f;
  padding: 15px;
  padding-inline: 40px;
  color: #f4eddf;
  border-radius: 15px;
  cursor: pointer;
  place-self: center;
  text-decoration: none;
}
#doner {
  margin-block-start: 10px;
}
#udvalg {
  margin-block: 10px;
  margin-block-end: 10px;
}
footer {
  margin-top: 20px;
}

@media (min-width: 1000px) {
  .splash {
    max-width: none;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4fr 1fr;
    place-content: center left;
  }
  .splash img {
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / span 4;
    grid-row: 1 / 3;
  }
  #doner {
    grid-column: 4 / 5;
    grid-row: 2;
  }
  #udvalg {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .splashbtn {
    background-color: #7b806a;
    border: 8px solid #f4eddf;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 20px;
    padding: 20px 25px;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .splashbtn:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-10px);
  }
  .splashbtn {
    padding: 10px 30px;
  }

  #splashbillede {
    border-radius: 20px;
  }
}
