/* ------------- SPLASH MOBIL ---------------*/

.splash {
  margin-top: 0 auto;
  max-width: 100%;
  height: 100vh;
  background-image: url("splashbilled/sko.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.splashlogo {
  max-width: 600px;
  width: 75%;
}
.splashlogo img {
  max-width: 100%;
  justify-self: center;
}

.splashbtn {
  background-color: transparent;
  border: 5px solid #f4eddf;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #f4eddf;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
  padding: 10px 30px;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}
.splashbtn:hover {
  box-shadow: rgb(58, 66, 45) 0 10px 9px 0;
  transform: translateY(-15px);
}
.knapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
