/* ------------- GENEREL ---------------*/
:root {
  --hvid: #f4eddf;
  --mørk: #575c4a;
  --lys: #7b806a;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -20px;
}
body {
  background-color: var(--hvid);
}

img {
  max-width: 100%;
}

footer {
  background-color: var(--mørk);
  color: var(--hvid);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

footer wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding-block: 1rem;
  padding-block-end: 2rem;
}

.kontaktfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-row: 1/3;
  text-align: left;
  gap: 0.8rem;

  max-width: 1300px;
}

.kontaktfooter p {
  color: #f4eddf;
}
.kontaktfooter p span {
  font-weight: bold;
}

.medier {
  display: flex;
  align-self: flex-start;
  gap: 1rem;
  flex-direction: row;
}

.medier img {
  width: 30px;
}

.push {
  height: 90px;
}
/* ------------- LISTE ------------ */
#liste {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 3em;
  padding-top: 50px;
  justify-content: space-evenly;
  padding-inline: 10px;
}

.h1class {
  display: grid;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 140px;
  text-align: center;
  font-family: "playfair display";
  font-size: 2rem;
  color: var(--mørk);
}

@media (min-width: 1300px) {
  /* Sætter liste i grid */
  #liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-inline: unset;
  }
  /* Tilføjer effekt på h1 */
  .h1class {
    /*     margin-inline-start: 160px; */
    text-align: left;
  }
}

#liste article {
  max-width: 400px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: Helvetica, sans-serif;
}

.billedeurl {
  grid-column: span 2;
  margin-bottom: 1.25rem;
}

.navn,
.pris {
  margin-bottom: 0.4rem;
}

p {
  color: #5b604d;
}

.navn {
  grid-column: 1/2;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: helvetica;
  padding-block-start: 5px;
  color: #4e5342;
}

.pris {
  grid-column: 2/3;
  justify-self: end;
  align-self: flex-end;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.1rem;
}

.type {
  grid-column: 1/2;
}

.størrelse {
  margin-block: 5px;
  font-weight: bold;
  text-align: end;
}
.beskrivelse {
  grid-column: span 2;
}
.stand,
.standpop {
  text-align: end;
  font-style: italic;
}
.køn {
  color: #7b806a;
  margin-block: 5px;
  font-weight: bold;
  align-self: center;
}

/* popup */
#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

#popup article {
  width: clamp(50vw, 500px, 70vh);
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem auto;
  /* margin-top: 10rem; */
  place-self: center center;
  height: fit-content;
  padding: 50px;
  background-color: var(--hvid);
  font-family: Arial, Helvetica, sans-serif;
}

#popup article img {
  grid-column: 1 / 3;
}

.poppris {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: flex-end;
}
.popbeskrivelse {
  grid-column: 1/3;
}

.popstand {
  padding-block-start: 10px;
}
article button {
  all: unset;
  justify-self: center;
  grid-column: 1/3;
  background-color: var(--mørk);
  color: var(--hvid);
  padding: 7px;
  padding-inline: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

article button:hover {
  background-color: var(--lys);
  color: var(--hvid);
  transition: 50ms;
  border: 1.5px solid var(--hvid);
  padding: 5.5px;
  padding-inline: 28.5px;
}

#koeb {
  margin-top: 1.5rem;
}

/* -------------- MENU ----------------*/
header {
  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--lys);
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.276));
  padding: 5px;
}

.nav1 {
  width: 80px;
  margin-block: 0.5rem;
  margin-left: 1rem;
}

.nav2 {
  grid-column: 3/11;
  align-self: center;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-left: unset;
  gap: 20px;
}

li {
  background-color: var(--mørk);
  color: var(--hvid);
  padding: 7px;
  padding-inline: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

li:hover {
  background-color: var(--lys);
  color: var(--hvid);
  transition: 50ms;
  border: 1.5px solid var(--hvid);
  padding: 5.5px;
  padding-inline: 28.5px;
}

.valgt {
  background-color: #e0ae5d;
  color: var(--mørk);
}

/* burgermenu */
.container {
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  border: solid 1px var(--hvid);
  border-radius: 2.5px;
  background-color: var(--hvid);
  margin: 6px 0;
  transition: 0.2s;
}

@media (max-width: 1300px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    display: inline-block;
    cursor: pointer;
    margin-inline-end: 1rem;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .nav2 {
    display: contents;
  }

  .nav2 ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .nav2.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 2px solid var(--hvid);
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    padding-block-end: 10px;
  }
  footer wrapper {
    padding: 1rem;
  }
}
