/* ------------- GENEREL ---------------*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f4eddf;
}

img {
  max-width: 100%;
}

footer {
  background-color: #575c4a;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
  padding-block: 20px;
  margin-block-start: 100px;
  align-self: flex-end;
}

.splash {
  max-width: 1500px;

  margin: 0 auto;
  margin-block: 50px;
}

#splashbillede {
  border-radius: 20px;
}

/* ------------- LISTE ------------ */
#liste {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 3em;
  padding-top: 50px;
  justify-content: space-evenly;
  padding-inline: 10px;
}

.h1class {
  display: grid;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 140px;
  text-align: center;
  font-family: "playfair display";
  font-size: 3.5rem;
  color: #575c4a;
}

@media (min-width: 1300px) {
  /* Sætter liste i grid */
  #liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-inline: unset;
  }
  /* Tilføjer effekt på h1 */
  .h1class {
    margin-inline-start: 135px;
    text-align: left;
  }
}

#liste article {
  max-width: 400px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: Helvetica, sans-serif;
}

.billedeurl {
  grid-column: span 2;
  margin-bottom: 1.25rem;
}

.navn,
.pris {
  margin-bottom: 0.4rem;
}

p {
  color: #5b604d;
}

.navn {
  grid-column: 1/2;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: helvetica;
  padding-block-start: 5px;
  color: #4e5342;
}

.pris {
  grid-column: 2/3;
  justify-self: end;
  align-self: flex-end;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.1rem;
}

.type {
  grid-column: 1/2;
}

.størrelse {
  margin-block: 5px;
  font-weight: bold;
}
.beskrivelse {
  grid-column: span 2;
}

#liste img {
  max-width: 400px;
}
/* popup */
#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

#popup article {
  width: clamp(50vw, 500px, 70vh);
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem auto;
  /* margin-top: 10rem; */
  place-self: center center;
  height: fit-content;
  padding: 50px;
  background-color: #f4eddf;
  font-family: Arial, Helvetica, sans-serif;
}

#popup article img {
  grid-column: 1 / 3;
}

.poppris {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: flex-end;
}
.popbeskrivelse {
  grid-column: 1/3;
}
article button {
  justify-self: center;
  grid-column: 1/3;
  background-color: #575c4a;
  color: #ffff;
  padding: 7px;
  padding-inline: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

article button:hover {
  background-color: #7b806a;
  color: #ffff;
  transition: 50ms;
  border: 1.5px solid #fff;
  padding: 5.5px;
  padding-inline: 28.5px;
}

#koeb {
  margin-top: 1.5rem;
}

footer {
  background-color: #575c4a;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 30px; */
  padding-block: 20px;
  margin-block-start: 100px;
  align-self: flex-end;
}

/* -------------- MENU ----------------*/
header {
  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #7b806a;
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.276));
  padding: 5px;
}

.nav1 {
  width: 80px;
  margin-block: 0.5rem;
  margin-left: 1rem;
}

.nav2 {
  grid-column: 3/11;
  align-self: center;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-left: unset;
  gap: 20px;
}

li {
  background-color: #575c4a;
  color: #ffff;
  padding: 7px;
  padding-inline: 30px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

li:hover {
  background-color: #7b806a;
  color: #ffff;
  transition: 50ms;
  border: 1.5px solid #fff;
  padding: 5.5px;
  padding-inline: 28.5px;
}

.valgt {
  background-color: #e0ae5d;
}
